
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
}

ul {
  display: inline-flex;
  list-style-type: none;
  justify-content: space-around;
  width: 400px;
}

li {
  width: 75px;
  justify-content: center;
}

p, ul {
  margin-top: 20px;
}

a {
  color: black;
}

div {
  border: solid black 1px;
}

h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.content {
  display: flex;
  width: 100%;
}

.column {
  margin-right: 30px;
}

.pic {
    display: flex;
}

.sub {
  display: flex;
  flex-flow: column;
}

.SmallStories {
  display: flex;
}

.SmallNoPic {
  display: flex;
  height: 500px;
}

.SmallPic {
  display: flex;
  height: 300px;
}

#logo {
  width: 150px;
  margin-left: 10px;
  display: flex;
  color: MediumAquamarine;
  justify-content: space-between;
  align-content: center;
}

#first {
  width: 630px;
}

#second {
  width: 300px;
}

#third {
   width: 240px;
}

#tuna {
  background-image: url(./img-story-main.png);
  height: 300px;
}

#earth {
  background-image: url(./img-story-2.png);
}

#camera {
  background-image: url(./img-story-3.png);
}

#cat {
  background-image: url(./img-story-1.png);
  height: 300px;
}

.SmallPic h2 {
  align-self: center;
}
